<div class="sidebar-content-group">
    <ul class="nav nav-aside">
        <li class="nav-aside-header">
            <strong>{{ translate('Related taxonomies') }}</strong>
        </li>
        {% for term in terms if term.getTaxonomy.getName() in ['topic', 'topic-folder'] %}
           <li>{{ normalize().toAnchor(term) }}</li>
        {% endfor %}
    </ul>
</div>