<div class="page-header">
    <div class="pull-right">
        {% include 'entity/view/partials/actions/toggle-controls' %}
    </div>
    <h1>{{ entity.getId() }} <small>{{ translate('Grouped text exercise') }}</small></h1>
</div>
{% include 'entity/view/default' %}