{% do headTitle(entity.getId()) %}
{% set subtitle = 'Grouped text exercise' | trans %}
{% do headTitle(subtitle) %}
<div class="page-header">
    <div class="pull-right btn-group hidden-xs">
        {% include 'entity/view/partials/actions/toggle-controls' %}
        {{ contexter().renderButton() }}
    </div>
    <h1>{{ title }}
        <small>{% trans %} Grouped text exercise {% endtrans %}</small>
    </h1>
</div>
{% include 'entity/view/default' %}