{% set title = entity.getId() %}
{% set tmp = headTitle(title) %}
{% set tmp = headTitle(translate('Text exercise')) %}
{% set tmp = headMeta().setProperty('keywords', metadata().keywords(entity)) %}
<div class="page-header">
    <div class="pull-right btn-group">
        {% include 'entity/view/partials/actions/toggle-controls' %}
        {{ contexter().renderButton() }}
    </div>
    <h1>{{ title }} <small>{{ translate('Text exercise') }}</small></h1>
</div>
{% include 'entity/view/default' %}