{% set title = entity.getCurrentRevision().get('title') %}
{% set description = entity.getCurrentRevision().get('description') %}
{% set tmp = headTitle(title) %}
{% set tmp = headTitle(translate('Video')) %}
{% set tmp = headMeta().setProperty('og:title', title) %}
{% set tmp = headMeta().setProperty('og:type', translate('video.other')) %}
{% set tmp = headMeta().setProperty('description', preview(description)) %}
<div itemscope itemtype=”http://schema.org/VideoObject”>
    <div class="page-header">
        <div class="pull-right btn-group">
            {% include 'entity/view/partials/actions/toggle-controls' %}
            {{ contexter().renderButton() }}
        </div>
        <h1><span itemprop=”caption”>{{ title }}</span> <small>{{ translate('Video') }}</small></h1>
        {% include 'entity/view/partials/actions/big' %}
    </div>
    {% include 'entity/view/default' %}
</div>
{% set taxonomy = include('entity/page/aggregate/taxonomy', {'terms': entity.getTaxonomyTerms()}) %}
{% set temp = registry().add('rnav', taxonomy) %}
{% set temp = registry().add('rnav', related(entity)) %}