/* Serlo Menu */
/* top navbar */
#serlo-menu {
  border: none;

  @include bar();

  font-size: 0.91em;
  border-radius: 0;
  min-height: 0;

  .nav {
    > li {
      line-height: 23px;
      float: left;
      > a {
        padding: 8px 15px 6px 0;
        @include theme-font(600);

        &.important {
          @include theme-font(700);

          color: $themeColor;
          &:hover, &:active, &:focus {
            color: darken($themeColor, 20%);
            text-decoration: none;
          }
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      background: white;
    }
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-collapse.in, .navbar-collapse.collapsing {
    & li, & .navbar-nav {
      @media only screen and (max-width: $screen-xs-max) {
        float: none;
      }
    }
  }

  .container {
    // min-width: 750px;
    // @extend .container;
  }
}