#subject-nav {
  padding-top: 20px;

  .subject-dropdown {
    position: relative;
    z-index: 2;
    margin-left: 180px;
    padding: 0px 20px;
    margin-top: 8px;
  }

  .subject-dropdown-toggle {
    display: inline-block;
    padding-right: 15px;

    cursor: pointer;
    border-bottom: 1px solid transparent;

    line-height: 40px;
    font-size: 35px;

    color: $themeColor;
    background: #EEE;

    z-index: 12;

    @include theme-font(600);

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: #B1B1B1;
    }
  }

  .subject-dropdown-menu {
    display: none;

    position: absolute;
    top: -15px;
    left: 13px;

    padding: 75px 20px 20px;
    width: 360px;

    background: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);

    z-index: -1;
  }

  .subject-dropdown-title {
    @include inline-block;

    vertical-align: inherit;
    border-right: 2px solid #E4E6E6;
    padding: 3px 18px;
  }

  .open {
    
    background: none;
    
    .subject-dropdown-title {
      border-color: transparent;
    }

    .subject-dropdown-toggle {
      background-color: white;
      &:hover,
      &:focus {
        border-color: white;
      }
    }

    .subject-dropdown-menu {
      display: block;
    }
  }

  .caret {
    margin-left: 5px;
    border-width: 7px;
    border-top-color: $themeColor;
    border-bottom: none;
  }

  h4 {
    margin-top: 0;
    padding: 7px 0;
  }

  .row {
    border-top: 1px solid $lighterGray;
  }
}

.slogan {
  @include theme-font();
  width: 180px;
  
  color: $darkerGray;
  font-size: 0.9em;
  text-align: right;
}

