{% set revision = entity.getCurrentRevision() %}
<article>
    <section>
        {{ markdown().toHtml(revision.get('content')) | raw }}
    </section>
    <hr>
    <section>
        {{ entity().renderDiscussions(entity) }}
    </section>
</article>