{% set revision = entity.getCurrentRevision() %}
<article class="content">
    <header>
        {% include 'entity/view/partials/actions/big' %}
    </header>
        {{ markdown().toHtml(revision.get('content')) | raw }}
    <hr>
    <section>
        {{ entity().renderDiscussions(entity) }}
    </section>
</article>