{% set revision = entity.getCurrentRevision() %}
<article>
    <section>
        {{ markdown().toHtml(revision.get('content')) | raw }}
    </section>
    <hr>
    {% include 'entity/view/partials/license' %}
    <hr>
    <section class="hidden" id="discussion-{{ entity.getId() }}">
        {{ discussion(entity).render() }}
    </section>
</article>