{% set revision = entity.getCurrentRevision() %}
<article>
    <section>
        {{ markdown().toHtml(revision.get('content')) | raw }}
    </section>
    <hr>
    {% include 'entity/view/partials/license' %}
    <hr>
    <section>
    </section>
</article>