{% set title = 'video' | trans %}
{% set description = markdown().toHtml(entity.getCurrentRevision().get('description')) %}
<article>
    <section>
        {% set id = entity.getCurrentRevision().get('content') %}
        <iframe type="text/html" width="640" height="390"
                src="http://www.youtube.com/embed/{{ (id|split('?v='))|slice(1)|join }}?html5=1" frameborder="0">
        </iframe>
    </section>
    <section itemprop="description">
        {{ description }}
    </section>
    <hr>
    {% include 'entity/view/partials/license' %}
    <hr>
    <section class="hidden" id="discussion-{{ entity.getId() }}">
        {{ discussion(entity).render() }}
    </section>
</article>