<article>
	<section>
        {% set id = entity.getCurrentRevision().get('content') %}
        <iframe type="text/html" width="640" height="390" src="http://www.youtube.com/embed/{{ (id|split('?v='))|slice(1)|join }}?html5=1" frameborder="0">
        </iframe>
    </section>
    <section>
        {{ markdown().toHtml(entity.getCurrentRevision().get('description')) }}
    </section>
    <hr>
    {% include 'entity/view/partials/license' %}
	<hr>
	<section>
        {{ discussion(entity).render() }}
    </section>
</article>