<?php
$dbParams = array(
    'host' => '_',
    'port' => '3306',
    'user' => '_',
    'password' => '_',
    'database' => '_'
);

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_test' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host' => $dbParams['host'],
                    'port' => $dbParams['port'],
                    'user' => $dbParams['user'],
                    'password' => $dbParams['password'],
                    'dbname' => $dbParams['database']
                )
            )
        )
    )
);