<?php
return [
    'doctrine'          => array(
        'configuration' => array(
            'orm_default' => array(
                'metadata_cache'  => 'apc',
                'query_cache'     => 'apc',
                //'result_cache'    => 'apc',
                'hydration_cache' => 'apc',
            )
        )
    ),
]