<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Athene2 Versioning Test Suite">
            <directory>../../module/Versioning/test</directory>
        </testsuite>
        <testsuite name="Athene2 Uuid Test Suite">
            <directory>../../module/Uuid/test</directory>
        </testsuite>
        <testsuite name="Athene2 User Test Suite">
            <directory>../../module/User/test</directory>
        </testsuite>
        <testsuite name="Athene2 Term Test Suite">
            <directory>../../module/Term/test</directory>
        </testsuite>
    </testsuites>
</phpunit>