{% for child in term.getChildren() %}
    {% if child.getType() in ['topic-folder' , 'curriculum-topic-folder'] %}
        <h4>
            <a href="{{ url('subject/taxonomy', {'subject': subject.getSlug(), 'path': subject().slugify(child)}) }}">
                {{ child.getName() }}
            </a>
        </h4>
        <div class="list-group">
            {% for entity in child.getAssociated('entities') %}
                {% if not entity.getTrashed() %}
                    {% include 'subject/taxonomy/entity/default' with {'entity': entity} only %}
                {% endif %}
            {% endfor %}
        </div>
        <hr>
    {% endif %}
{% endfor %}