<div>
    {% for i in 0..2 %}
        {% set type = cycle(['article', 'video', 'module'], i) %}
        {% if types.get(type) %}
            <div class="row">
            <div class="col-md-12">
                <h4>
                    <span class="glyphicon glyphicon-{{ cycle(['book', 'facetime-video', 'list'], i) }}"></span> {{ translate(cycle(['Articles', 'Videos', 'Modules'], i)) }}
                </h4>
                <hr>
            </div>
            {% set index = 0 %}
            {% for link in types.get(type) %}
                {% if index % 3 == 0 and index != 0 %}
                    </div>
                    <hr>
                    <div class="row">
                {% endif %}
                {% set index = index + 1 %}
                <div class="col-sm-4">
                    {% include 'subject/taxonomy/entity/default' with {'entity': link} only %}
                </div>
            {% endfor %}
            </div>
            <hr>
        {% endif %}
    {% endfor %}

    {% if types.get('text-exercise') or types.get('text-exercise-group') %}
        <!-- Rest -->
        <h4><span class="glyphicon glyphicon-ok-sign"></span> <strong>{{ translate('Exercises') }}</strong></h4>
        <hr>
        {% for link in links if link.getType().getName() in ['text-exercise', 'text-exercise-group'] %}
            <div class="row">
                <div class="col-xs-1">
                    <strong>{{ loop.index }}.</strong>
                </div>
                <div class="col-xs-11">
                    {% include 'subject/taxonomy/entity/default' with {'entity': link} only %}
                </div>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
    <!-- Rest end -->
</div>