{% set subject = term.findAncestorByTypeName('subject') %}
<div class="panel">
    <div class="panel-body">
        {{ discussion(term).findForum([subject.getName(), term.getTaxonomy().getName()]).render() }}
    </div>
</div>