<div class="btn-group">
    <span class="glyphicon glyphicon-eye-close"></span> <a href="{{ url('subscription/unsubscribe', {'object': object}) }}" class="btn btn-primary">{{ 'Unubscribe' | trans }}</a>
</div>