.content {
    background: white;
}

// Spoilers
.spoiler {
    > a {
        @include inline-block;
        
        margin: 0 0 10px 0;
        padding: 4px 5px;

        background: #EEE;
    }
}

.spoiler-content {
    display: none;
}
