/* MAIN PAGE LAYOUT */

%pageMargin {
    padding: 0 $pagePaddingSmall;

    @media only screen and (min-width: $navigationBreakPoint) {
        padding: 0 $pagePaddingMedium;
    }

    @media only screen and (min-width: $sidebarBreakPoint) {
        padding: 0 $pagePaddingLarge;
    }
}

#subject-nav,
#serlo-menu,
#page,
#horizon,
#footer {
    @extend %pageMargin;
}

#header,
#horizon {
    margin-bottom: 30px;
    clear: both;
}

#header {
    position: relative;
    z-index: $headerZIndex;
}

/* Side Elements (Navigation && Context) */

.side-element {
    position: relative;
    z-index: $sideElementZIndex;
    
    &.visible {

        .side-element-inner {
            visibility: visible;
        }

        .layout-toggle {
            .glyphicon {
                display: none;

                & + .glyphicon {
                    display: block;
                }
            }
        }
    }
    
    .layout-toggle {
        display: none;

        cursor: pointer;
        user-select: none;


        .glyphicon {
            display: block;

            & + .glyphicon {
                display: none;
            }
        }
    }
}

/* side element layout toggler */
.layout-toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: $darkGray;
    color: white;
    
    &:hover {
        background: $darkerGray;
    }

    .glyphicon {
        display: block;
        
        margin: 0 auto;

        line-height: $sideElementWidthCollapsed;
    }
}

/* Left Navigation */
.side-navigation {
    width: $navigationWidth;
    float: left;

    @media only screen and (max-width: $navigationBreakPoint) {
        width: $sideElementWidthCollapsed;

        .side-element-inner {
            visibility: hidden;
            margin-left: $sideElementWidthCollapsed;
        }

        .layout-toggle {
            display: block;
        }
    }
}

/* Main Container */
.main {
    // float: left;

    .has-navigation & {
        margin-left: $navigationWidth;

        @media only screen and (max-width: $navigationBreakPoint) {
            margin-left: $sideElementWidthCollapsed;
        }
    }

    .has-context & {

        @media only screen and (min-width: $sidebarBreakPoint + 150px) {
            width: $contentWidth + $sidebarWidth + 150px;
        }
    }
}

/* Content */
.content {
    width: $contentWidth;
    padding: 0 $contentPadding;

    float: left;
    box-sizing: content-box;

    .has-context & {
        // margin-right: $sidebarWidth;

        // @media only screen and (max-width: $sidebarBreakPoint) {
        //     margin-right: $sideElementWidthCollapsed;
        // }


        // @media only screen and (min-width: $sidebarBreakPoint + 150px) {
        //     margin-right: $sidebarWidth + 150px;
        // }
    }
}

/* Right Context Area */
.side-context {
    // width: $sidebarWidth;
    margin-left: $contentWidth + 2 * $contentPadding;

    background: $lighterGray;

    @media only screen and (max-width: $sidebarBreakPoint) {
        width: $sideElementWidthCollapsed;

        .side-element-inner {
            position: relative;

            visibility: hidden;
            margin-right: $sideElementWidthCollapsed;

            width: 200px;
            right: 200px;
            background: $lighterGray;
        }

        .layout-toggle {
            display: block;
        }
    }

    @media only screen and (min-width: $sidebarBreakPoint + 150px) {
        width: $sidebarWidth + 150px - $pagePaddingLarge;
    }

    .nav {
        &:after,
        &:before {
            clear: none;
            display: none;
        }
    }
}