h1, h2, h3, h4, h5, h6 {
    font-family: $themeFont;
}

.brand {
  font-face: 'serlo';
}

@font-face {
  font-family: 'serlo';
  src: url('../fonts/serlo.eot?61257385');
  src: url('../fonts/serlo.eot?61257385#iefix') format('embedded-opentype'),
  url('../fonts/serlo.woff?61257385') format('woff'),
  url('../fonts/serlo.ttf?61257385') format('truetype'),
  url('../fonts/serlo.svg?61257385#serlo') format('svg');
  font-weight: normal;
  font-style: normal;
}