{% set template = 'subject/taxonomy/templates/' ~ term.getTaxonomy().getName() %}
{% if term.isTrashed() %}
    <div class="alert alert-danger">
        {{ translate('This taxonomy term is marked as <strong>trashed</strong>. Contents might be out of date or unmaintained.') }}
    </div>
{% endif %}
{% set template = include(template, ignore_missing = true) %}
{% if template %}
    {{ template | raw }}
{% else %}
    {% include 'subject/taxonomy/templates/partials/entities' %}
    {% include 'subject/taxonomy/templates/partials/branches' %}
{% endif %}
{{ discussion(term).findForum([subject.getName(), term.getTaxonomy().getName()]).render() }}