{% if revision %}
    {{ pageHeader(revision.getTitle()).render() }}
    {{ markdown().toHtml(revision.getContent()) }}
{% endif %}
<hr>
{% include 'page/revision/menu' %}
<hr>
{% if page.getForum() %}
    <div class="panel">
        <div class="panel-body">
            {{ discussion(page).setForum(page.getForum()).render() }}
        </div>
    </div>
{% endif %}