{% if revision %}
    {{ pageHeader(revision.getTitle()).render() }}
    {{ markdown().toHtml(revision.getContent()) }}
{% endif %}
<hr>
{% include 'page/revision/menu' %}
<hr>
<div class="panel">
    <div class="panel-body">
        {{ discussion(revision.getRepository()).findForum([revision.getTitle()]).render() }}
    </div>
</div>