{% if revision %}
    {% include 'page/partials/head' %}
    {{ markdown().toHtml(revision.getContent()) }}
{% endif %}
{% if page.getForum() %}
    <div class="panel">
        <div class="panel-body">
            {{ discussion(page).setForum(page.getForum()).render() }}
        </div>
    </div>
{% endif %}