.right {
    float: right;
}

.left {
    float: left;
}

.bottom {
    position: relative;
    bottom: 0px;
}

.absolute {
    position: absolute;
}

.btn-group.group-dropdown {
    margin: 0px;
    padding: 0px;
    margin-left: -1px;
}

.btn-group.group-dropdown .dropdown-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-group.group-dropdown:first-child {
    margin: 0px;
    padding: 0px;
    margin-right: -1px;
}

.btn-group.group-dropdown:first-child .dropdown-toggle {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.btn-group.group-dropdown:first-child .dropdown-toggle.btn-large {
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
}

.btn-group.group-dropdown:last-child {
    margin: 0px;
    padding: 0px;
    margin-left: -1px;
}

.btn-group.group-dropdown:last-child .dropdown-toggle {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group.group-dropdown:last-child .dropdown-toggle.btn-large {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.sortable li.placeholder {
    position: relative;
}

ol.sortable li.placeholder:before {
    position: absolute;
}
