// Put quick fixes / try-outs / dirty stuff here
// ...and feel ashamed!


.nav-header {
    font-weight: bold;
}

// aeneaspls
img.license-intext {
  max-height: 18px;
  opacity: 0.5;
}

// I feel ashamed already super hack wow omg
// See https://github.com/twbs/bootstrap/issues/10000
.panel-body .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

#serlo-menu {
  .nav {
    /* this is really hacky */
    .dropdown-menu {
      word-wrap: normal;
      min-width: 500px;
    }
  }
}