// Put quick fixes / try-outs / dirty stuff here
// ...and feel ashamed!


.nav-header {
    font-weight: bold;
}

// aeneaspls
img.license-intext {
  max-height: 18px;
  opacity: 0.5;
}

.navbar-weak {
  background-color: white;
  color: #444444;
}

.navbar-weak > .active {
  background-color: #EFEFEF;
}