@import "compass/css3";


#navigation {
  position: relative;
  z-index: 90;
}


#navigation-container {
    position: absolute;
    width: $navigationWidth;
    height: auto;
    top: 20px;
    left: 1px; // 1px left, to overlap #content's 1px border; */
    margin: 0;

    @media only screen and (max-width: $navigationBreakPoint) {
        width: 40px;

        .slide-right & {
            width: $navigationWidth + 40;
        }
    }

    .slide-left & {
        display: none;
    }
}

#navigation-toggle {
    display: none;

    @media only screen and (max-width: $navigationBreakPoint) {
        display: block;

        @include background(linear-gradient(right, darken($gray, 3%), $gray 12px, $gray));

        &:hover {
            box-shadow: -2px 0 4px darken($themeColor, 8%) inset;
            background: $themeColor;
            color: white;
        }
    }
}

#navigation-content {
    @media only screen and (max-width: $navigationBreakPoint) {
        visibility: hidden;

        .slide-right & {
            visibility: visible;
            margin-left: 40px;
        }
    }
}

#main-nav {
    width: $navigationWidth;

    > li {
        > a {
            background: $gray;
            color: white;

            &:hover {
                background: $themeColor;
            }

            .caret {
                float: right;
                margin-top: 8px;

                border-top-color: white;
                border-bottom-color: white;
            }
        }

        + li {
            margin-top: 2px;
        }
    }

    .is-active > a {
        background: $themeColor;
        color: white;
    }

    li ul {
        display: none;
    }

    
    .is-nav-active {
        a {
            text-decoration: underline;
        }
    }
}

#serlo-side-sub-navigation {
    position: absolute;
    top: 0;
    left: 175px;
    background: $themeColor;
    width: 300px;
    height: 400px;

    z-index: 1;
    overflow: hidden;

    a {
        color: white;
    }

    .sub-nav-header {
        font-size: 17px;
        font-weight: bold;
        padding-bottom: 12px;
    }

    .slide-right & {
        left: $navigationWidth + 40;
    }
}

#serlo-side-sub-navigation-mover {
    position: relative;

    white-space: nowrap;
    ul {
        @include inline-block;
        width: 100%;
        padding-left: 0;
        margin: 0;
        height: 0;
    }


    li {
        list-style: none;
        a {
            display: block;
            padding: 10px 12px 2px;
        }
    }
}

#serlo-side-navigation-breadcrumbs {
    a {
        padding: 5px 15px 5px 30px;
        background-color: $themeColor;
        color: white;
        font-size: 0.85em;
    }

    + li {
        margin-top: 2px;
    }
}