{% set options = entity().getOptions(entity) %}
<div class="edit-control hidden">
    <nav class="navbar navbar-light" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                {% include 'entity/view/partials/actions/versioning/edit' %}
                {% include 'entity/view/partials/actions/versioning/history' %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ translate('More') }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% include 'entity/view/partials/actions/link/add' %}
                        {% include 'entity/view/partials/actions/link/update' %}
                        {% include 'entity/view/partials/actions/taxonomy/update' %}
                        {% include 'entity/view/partials/actions/related-content/manage' %}
                        {% include 'entity/view/partials/actions/license/update' %}
                        {% include 'entity/view/partials/actions/flag/create' %}
                        {% include 'entity/view/partials/actions/event/history' %}
                        {% include 'entity/view/partials/actions/trash' %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>