#page {
  position: relative;
  margin-top: 15px;
  margin-bottom: 75px;
  
  transform-style: preserve-3d;
  transition: 0.15s transform 0.1s ease-in-out, 0.25s opacity 0.01s ease-in-out;

  @media only screen and (max-width: $navigationBreakPoint) {
    margin-top: 54px;
  }
}

#main {
    position: relative;
    padding-left: $navigationWidth;

    @media only screen and (max-width: $navigationBreakPoint) {
        padding-left: 40px;

        .slide-right & {
            padding-left: $navigationWidth + 40;
        }
    }
}

#content-container {
    background: #FFF;
    border: 1px solid #DFDFDF;
}

.layout-toggle {
    position: absolute;
    left: 0;
    top: 0;
    
    width: 40px;
    height: 100%;
    padding: 10px 0;
    
    text-align: center;
    color: white;

    background: $gray;

    cursor: pointer;

    user-select: none;
}